@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/6eafc48312528e2515d622428b6b95cc-GothamSSm-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/3c102ace52ea35b16da4383819acfa38-GothamSSm-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/38e00f7de6f417aa3a458560a15e2b8a-GothamSSm-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/66d562e3299ee732a53db150038c026e-GothamSSm-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/0acd8ff34f3a5c177d02e9011ee74eb3-GothamSSm-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
#__next {
  @apply antialiased;
  padding: 0;
  margin: 0;
  font-family: 'Gotham', sans-serif;
  background-color: #232527;
  color: #fff;
  height:100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #191b1d;
  border: solid #111214;
  border-width: 0 0 1px;
}

a:hover {
  @apply underline;
}

.section {
  background-color: #393b3d;
}

.hover-about-boxshadow:hover {
  box-shadow: inset 0 -4px 0 0 #ffffff48;
}

.about-boxshadow {
  box-shadow: inset 0 -4px 0 0 #fff;
}

.tippy-svg-arrow {
  @apply fill-neutral-900 !important;
}

.oblique-strikethrough:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  border-top: 2.5px solid;
  @apply border-neutral-400;
  transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
}

[data-tippy-root] {
  @apply pointer-events-auto !important;
  @apply max-w-none !important;
}

.tippy-content {
  @apply p-0 !important;
}

.settings-menu-item {
  @apply block px-4 py-2 bg-white bg-opacity-0 hover:no-underline hover:bg-opacity-20 hover:text-white;
}

.search-menu-item {
  @apply bg-white bg-opacity-0 hover:no-underline hover:bg-opacity-10;
}

select option {
  @apply appearance-none bg-neutral-500 p-5;
}

.alert-caution { @apply bg-orange-400 }
.alert-error { @apply bg-red-400 }
.alert-success { @apply bg-green-400 }
.alert-info { @apply bg-blue-400 }