@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-LightItalic.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-Book.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-Light.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-BookItalic.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham/Gotham-Black.woff2') format('woff2'),
      url('../public/fonts/Gotham/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: 'Gotham', sans-serif;
  background-color: #232527;
  color: #fff;
  height:100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #191b1d;
  border: solid #111214;
  border-width: 0 0 1px;
}