.icon-spritesheet {
    background-image: url('https://images.rbxcdn.com/53374db5b6c1b349a20d0471ea032868-navigation_dark.svg');
}

.icon-spritesheet-2 {
    background-image: url('https://images.rbxcdn.com/87b4f6103befbe2c1e9c13eb9d7064db-common_sm_dark_12032018.svg');
}

.icon-spritesheet-3 {
    background-image: url('https://images.rbxcdn.com/0ff32c69af9262d7c9fefe8284d81d88-chat_dark.svg');
}
.icon-spritesheet-4 {
    background-image: url('https://images.rbxcdn.com/a057a8bc94e7ab78517765ddb4e77384-generic_dark_11062018.svg');
}
.icon-spritesheet-5 {
    background-image: url('https://images.rbxcdn.com/3a9b44283e65ae1ead90defcb0bdcb6e-economy_28x28_dark.svg');
}
.icon-spritesheet-6 {
    background-image: url('https://images.rbxcdn.com/fd9348442358becfb95f2a4b141c75a0-menu_dark.svg');
}
.placeholder-spritesheet {
    background-image: url('/placeholder-spritesheet.svg');
}

.icon-verified-large {
    background-image: url('/verified-icon.svg');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 28px auto;
}

.icon-premium-profile {
    background-image: url('/premium-icon.svg');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 28px auto;
}

.icon-verified-small {
    background-image: url('/verified-icon.svg');
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 16px auto;
}

.icon-premium-small {
    background-image: url('/premium-icon.svg');
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 16px auto;
}

.placeholder-avatar {
    background-size: 90px auto;
    background-position: 0 -180px;
}

.placeholder-outfit {
    background-size: 100px auto;
    background-position: 0 -300px;
}

.placeholder-game {
    background-size: 150px auto;
    background-position: 0 0;
}

.icon-burger-menu, .icon-robux, .icon-settings, .icon-search, .icon-notification-stream {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 56px auto;
}

.icon-nav-home, .icon-nav-profile, .icon-nav-messages, .icon-nav-friends, .icon-nav-avatar, .icon-nav-inventory,
.icon-nav-trade, .icon-nav-groups, .icon-nav-blog, .icon-nav-store, .icon-nav-giftcards {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 56px auto;
}

.icon-thumbs-up, .icon-user-play {
    background-size: 32px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-previous-usernames {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-size: 40px auto;

}

.icon-chat-search {
    background-size: 32px auto;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
}

.icon-arrow-right {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 32px auto;
}

.icon-burger-menu {
    background-position: 0 0;
}

.icon-robux {
    background-position: 0 0px;
}

.icon-robux-small {
    background-position: 0 0px;
    width: 16px;
    height: 16px;
    background-size: 32px auto;
    display: inline-block;
    vertical-align: middle;
}

.icon-settings {
    background-position: 0 -84px;
}

.icon-search {
    background-position: 0 -108px;
}

.icon-notification-stream {
    background-position: 0 -448px;
}

.icon-arrow-right {
    background-position: 0 -16px;
}

.icon-chat-search {
    background-position: 0 -16px;
}

.icon-thumbs-up {
    background-position: 0 -32px;
}

.icon-user-play {
    background-position: 0 16px;
}

.icon-nav-home {
    background-position: 0 -140px;
}

.icon-nav-profile {
    background-position: 0 -168px;
}

.icon-nav-messages {
    background-position: 0 -196px;
}

.icon-nav-friends {
    background-position: 0 -224px;
}

.icon-nav-avatar {
    background-position: 0 -252px;
}

.icon-nav-inventory {
    background-position: 0 -280px;
}

.icon-nav-trade {
    background-position: 0 -308px;
}

.icon-nav-groups {
    background-position: 0 -336px;
}

.icon-nav-blog {
    background-position: 0 -364px;
}

.icon-nav-store {
    background-position: 0 -420px;
}

.icon-nav-giftcards {
    background-position: 0 -505px;
}

.icon-previous-usernames {
    background-position: 0 -780px;
}

/* user, play, shopping, userS, library */

.icon-search-user, .icon-search-play, .icon-search-shopping, .icon-search-users, .icon-search-library {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 32px auto;
}

.icon-search-user {
    background-position: 0 -288px;
}

.icon-search-shopping {
    background-position: 0 -304px;
}

.icon-search-library {
    background-position: 0 -352px;
}

.icon-search-play {
    background-position: 0 -128px;
}

.icon-search-users {
    background-position: 0 -176px;
}